HOHAI_UN=your_username
HOHAI_PW=your_password
HEADLESS=true

# Optional Telegram notify
HOHAI_TGTK=
HOHAI_TGID=

# Optional override proxy pool (JSON array)
# HTTP_PROXY_POOL=["http://1.2.3.4:8080","http://5.6.7.8:3128"]
