HOHAI_UN=your_username
HOHAI_PW=your_password
HEADLESS=true

# Optional SOCKS5 proxy, e.g. socks5://username:password@x.x.x.x:port
SOCKS5_PROXY=

# Optional Telegram notification
HOHAI_TGTK=
HOHAI_TGID=
# Optional topic id for forum groups
TELEGRAM_THREAD_ID=
