[Unit]
Description=Run Hohai check-in daily

[Timer]
OnCalendar=*-*-* 08:08:00 Asia/Shanghai
Persistent=true
Unit=hohai-checkin.service

[Install]
WantedBy=timers.target
